.register{
    padding-top: 50px;
}
.save,.cancle{
    width:90px;
    border-radius: 50px;
}
.save{
    margin-right:10px;
    background-color: #29A176;
}
.cancle{
    margin-left:10px;
}
.form-group{
    margin-bottom: 40px;
}
.form-btn{
    margin-top: 200px;
    text-align: center;
}
